body{
    background-color: black;
    font-family: Roboto;
}

h4{
    font-size: 25px;
}

/*Barra de navegacion*/
.navbar-brand{
    font-size: 25px;
    font-weight: 700;
}

.nav-item{
    font-size: 18px;
    font-weight: 300;
}

/*Quienes somos*/
hr{
    color: deepskyblue;
}

i{
    color: white;
    background-color: deepskyblue;
    padding: 0 1rem;
}

/*Destacados*/
.card-body{
    background-color: deepskyblue;
}

.card-title{
    color: white;
    font-weight: 300;
    font-size: 25px;
}

.card-text{
    color: white;
    font-weight: 300;
    font-size: 20px;
}