html{
    scroll-behavior: auto !important;
}

body{
    background-color: black;
    font-family: Roboto;
}

h4{
    font-size: 25px;
}

/*Barra de navegacion*/
.navbar-brand{
    font-size: 25px;
    font-weight: 700;
}

.nav-item{
    font-size: 18px;
    font-weight: 300;
}

.bg-transparent{
    transition: all 1s ease;
}

/*Quienes somos*/

hr{
    color: dodgerblue;
}

i{
    color: white;
    background-color: dodgerblue;
    padding: 0 1rem;
}

/*Destacados*/
.card{
    height: 56vh;
    background-color: dodgerblue;
}

.card-img-top{
    height: 25vh;
}

.card-title{
    color: white;
    font-weight: 300;
    font-size: 25px;
}

.card-text{
    color: white;
    font-weight: 300;
    font-size: 20px;
}

.btn{
    background-color: dodgerblue;
    text-align: left;
}

/*Footer*/
#footer{
    background-color: dodgerblue;
    text-align: center;
    color: white;
}
