body{
    background-color: black;
    font-family: Roboto;
}

h4{
    font-size: 25px;
}

/*Barra de navegacion*/
.navbar-brand{
    font-size: 25px;
    font-weight: 700;
}

.nav-item{
    font-size: 18px;
    font-weight: 300;
}

/*Quienes somos*/


hr{
    color: deepskyblue;
}

i{
    color: white;
    background-color: deepskyblue;
    padding: 0 1rem;
}

/*Destacados*/
.card{
    height: 57vh;
    background-color: deepskyblue;
}

.card-img-top{
    height: 25vh;
}

.card-title{
    color: white;
    font-weight: 300;
    font-size: 25px;
}

.card-text{
    color: white;
    font-weight: 300;
    font-size: 20px;
}

.btn{
    background-color: deepskyblue;
    text-align: left;
}

/*Footer*/
#footer{
    background-color: deepskyblue;
    text-align: center;
    color: white;
}